In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [3]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [4]:
duzeltme_mapping={"Y":1,"N":0}

df["IseAlindi"]=df["IseAlindi"].map(duzeltme_mapping)
df["SuanCalisiyor?"]=df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"]=df["Top10 Universite?"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"]=df["StajBizdeYaptimi?"].map(duzeltme_mapping)
duzeltme_mapping_egitim={"BS":0,"MS":1,"PhD":2}
df["Egitim Seviyesi"]=df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)

df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [5]:
y=df["IseAlindi"]
X=df.drop(["IseAlindi"],axis=1)

In [6]:
clf=DecisionTreeClassifier()
clf=clf.fit(X,y)

In [7]:
#5 yıl deneyimli,bir yerde çalışab ve 3 eski şirkette çalışmıs,eğitim seviyesi lisans
#top10 school mezunu değil
print(clf.predict([[5,1,3,0,0,0]]))

[1]

In [8]:
#toplam 2 yıl deneyim,7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

In [9]:
#2 yıl iş deneyimi ,7 kez iş değiştrimis,iyi bir okul mezunu değil şuan çalışıyor

print(clf.predict([[2,1,7,0,0,0]]))

[1]